/* css */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
  }
  div {

    text-align: center;
  }
  .textcontainer {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
  }

  .char {
    transform: translateY(115px);
    transition: transform .5s;
}
header {
  display: grid;
  place-content: center;
  height: 100vh;
}
.textappear{
font-size: 7rem;
/* text-transform: uppercase; */
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
line-height: 5.9rem;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  position: relative; /* Added */
  z-index: 1; /* Added */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Added */
}

background-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.textcontainer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.char {
  transform: translateY(115px);
  transition: transform .5s;
}

header {
  display: grid;
  place-content: center;
  height: 100vh;
}

.textappear {
  font-size: 7rem;
  /* text-transform: uppercase; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
}
