/* css */

  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
  }
  div {

    text-align: center;
  }
  .textcontainer {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
  }

  .char {
    transform: translateY(115px);
    transition: transform .5s;
}header {
  position: relative; /* Ensure the header is positioned relative */
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; /* Ensure the text sits above the video background */
}

.textappear {
  font-size: 7rem;
  /* text-transform: uppercase; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  overflow: hidden; /* Hide any overflowing content */
}

.background-video video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin: 0; /* Reset margin */
  padding: 0; 
}
body {
  margin: 0;
  padding: 0;
}
