* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Montserrat", sans-serif;
  }
  .main-wrapper {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header-txt {
    transform: translateZ(0);
  }
  .header-txt h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 90%;
    text-align: center;
    letter-spacing: -0.05em;
  }
  .para-txt {
    margin: 16px 0 0 0;
    transform: translateZ(0);
    font-weight: 500;
    text-align: center;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: -0.02em;
  }
  
  @media (min-width: 768px) {
    .para-txt {
      margin: 32px 0 0 0;
      font-size: 24px;
    }
  }
  
  @media (min-width: 2050px) and (min-height: 950px) {
    .para-txt {
      margin: 40px 0 0 0;
      font-size: 28px;
    }
  }
  
  @media (min-width: 768px) {
    .header-txt h1 {
      font-size: 84px;
    }
  }
  
  @media (min-width: 1024px) {
    .header-txt h1 {
      font-size: 6.6666666667vw;
    }
  }
  