h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

div {
  text-align: center;
}

.textcontainer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.char {
  transform: translateY(115px);
  transition: transform .5s;
}

header {
  position: relative;
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}

.textappear {
  font-size: 7rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background-video video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: background-color 0.5s;
}

.navbar:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}

.navbar ul li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(98, 69, 69);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.kartAnim{
  z-index: 100;
} 

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.landingFullScreen{
  top: 0px;

}

/* .box-c{
  top: 100px;
} */

#smooth-content {

  width: 100%;
  /* set a height because the contents are position: absolute, thus natively there's no height */
  /* height: 4000px; */
  margin: 0;
  padding: 0;
}

.container {
  scroll-snap-type: y mandatory;
  /* scroll-snap-points-y: repeat(300px); */
}

.snapPoints {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

h2 {
  padding: 20px;
}

p {
  padding: 20px;
}

.containerBackground {
  background-color: #f1f1f1;
  /* padding: 20px; */
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
}


.scroll-down {
  position: absolute; 
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
}

.scroll-down .arrow {
  position: relative;
  top: -4px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}

.arrow-right {
  transform: rotate(-90deg);
  position: relative;
  top: -4px;
  margin: 1rem auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}

#box{
  position:relative;
  top: 50%
  width: 200px;
  height: 200px;
  margin:20px auto;
  padding:0;
  background-color: transparent;
}

#square {
  position: absolute;
  top: 0;
  left: -15vw;
  background: #DDD;
  display: block;
  width: 40vw;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.245);
}

#left-side,
#top-side,
#right-side,
#bottom-side {
  position: absolute;
  background: none transparent;
  width: 0px;
  height: 0px;
}


#left-side {
  left: 0;
  bottom: 0;
  height: 200px;
  width: 3px;
}

#top-side {
  top: 0;
  left: 0;
  width: 40vw;
  height: 3px;
}

#right-side {
  right: 0;
  top: 0;
  height: 200px;
  width: 3px;
}

#bottom-side {
  bottom: 0;
  right: 0;
  width: 40vw;
  height: 3px;
}

