<!DOCTYPE html>
<html>
<html lang=en-US>

<head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="styles.css">  -->
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesContact.css') }}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <!-- "{{ url_for('static',filename='styles/mainpage.css') }}">
    <link rel="stylesheet" hrjsef="styles.css"> 
    -->
    <style>
        body {
            margin: 0;
        }

        /* .scrollStart {
            max-height: 100vh;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
        } */
    </style>
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#services" class="dropbtn">Services</a>
                <div class="dropdown-content">
                    <a href="#service1">Service 1</a>
                    <a href="#service2">Service 2</a>
                    <a href="#service3">Service 3</a>
                </div>
            </li>
            <li><a href="/waiver">Waiver</a></li>
            <li><a href="./contact">Contact</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="column30">
            <div class="main-wrapper" style="padding: 20px;">
                <div class="header-txt">
                    <h1>Contact us!</h1>
                </div>
                <div class="para-txt" style="text-align: left; hyphens: auto">
                    <p>
                        <br />
                        Thank you for choosing Velocikids Go&#8209Karting! If you have any questions, comments, or need
                        assistance, please fill out the form below, and our team will get back to you as soon as
                        possible.<br />
                        <br />
                    <form id="contactForm" method="POST" action="/contact">
                        <br />
                        <label for="fname">First Name: </label>
                        <input type="text" id="fname" name="firstname" placeholder="Your first name..">
                        <br />
                        <label for="lname">Last Name: </label>
                        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                        <br />
                        <label for="emailAddr">Email <Address></Address> </label>
                        <input type="email" id="emailAddr" name="emailAddr" placeholder="Your email address..">
                            <br />
                            <label for="phoneNum">Phone Number: </label>
                            <input type="number" id="phoneNum" name="phoneNum" placeholder="Your phone number..">
                            <br />
                            <label for="Subject">Subject: </label>
                            <select id="Subject" name="Subject">
                                <option value="generalInquiry">General Inquiry</option>
                                <option value="bookingNreservations">Booking and Reservations</option>
                                <option value="bdayParties">Birthday Parties</option>
                                <option value="corporate">Corporate Events</option>
                                <option value="safety">Safety Concerns</option>
                                <option value="other">Other</option>
                            </select>
                            <br />
                            <label for="contactMethod">Perferred Method of Contact: </label>
                            <select id="contactMethod" name="contactMethod">
                                <option value="email">Email</option>
                                <option value="phone">Phone</option>
                            </select>
                            <br />
                            <label for="newsletter">Would you like to receive updates and promotions from Velocikids
                                Go&#8209Karting?</label>
                            <select id="newsletter" name="newsletter">
                                <option value="yes">Yes, please subscribe me to the newsletter. </option>
                                <option value="no">No, thank you. </option>
                            </select>
                            <br />
                            Please complete the captcha to prove that you are human.
                            <br />
                            <br />
                            <div class="cf-turnstile" data-sitekey="1x00000000000000000000AA" data-theme="light" style="text-align: center;"></div>
                    </form>
                    <div class="btn-wrapper">
                        <a href="#" id="submitButton" class="submit-button"">
                            <div class="btn-content">Submit!</div>
                            <div class="btn-circle">
                                <svg data-v-157867a6="" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="btn__icon h-10 w-10 overflow-hidden">
                                    <path data-v-157867a6="" fill-rule="evenodd" clip-rule="evenodd"
                                        d="M3.82475e-07 5.625L7.625 5.625L4.125 9.125L5 10L10 5L5 -4.37114e-07L4.125 0.874999L7.625 4.375L4.91753e-07 4.375L3.82475e-07 5.625Z"
                                        class="btn__path fill-current"></path>
                                </svg>
                            </div>
                        </a>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="column70">
            <img width="100%" height="auto" src="static/assets/staff/VirgilHughmann.jpg" alt="Man standing next to child in go-kart">
        </div>
    </div>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollSmoother.min.js"></script>
    <script src="https://unpkg.com/split-type"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>

    <!-- <script src="indexJs.js"></script> -->
    <script src="{{ url_for('static',filename='contactJs.js') }}"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>

</body>

</html>