<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>employement</title>
<link rel="stylesheet" href="employementcss.css">
</head>

<body>
	<center><p2>Employement</p2></center>
	<p></p>
	
	<p1>At Velocikids we recognize that a company is only as good as its employees. We are dedicated to hiring the best and most enthusiastic candidates who are interested in an exciting, fun workplace for anyone who loves working with kids and has a passion for providing top-quality servicev</p1>
	<p></p>
	<p1>Our goal is to make our guests happy and to teach them and provide them with fun while maintaining their safety. If you think you would be a good fit, we would love to hear from you.</p1>
	<p></p>
	<p2>
CURRENT LISTINGS</p2> <img src="kart01.jpg" alt="kart1" width= "19.7%"  >
	<p></p>
<p2>
1. Track Attendant</p2>
	<p></p>
	<p1>Track attendants guide customers into the facility and towards choosing a kart, provide safety and operation instructions, and go over rules.
</p1>
	<p></p>
	<p2>
2. Cashier</p2> <img src="kart1.jpg"kart01.jpg"" alt="kart1" width= "19.7%"  >
	<p></p>
	<p1>Cashiers are responsible for handling money from sales, providing receipts, and dealing with refunds.

If you are interested email your resume and cover letter to: virgil.hughmann@velocikids.ca

Check in regularly for updates to this web site.</p1>
	<p></p>
	<center><button onclick="document.location='indexkartmain.html' ">Go back</button>	</center>
	
	</body>
</html>
